@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background:linear-gradient(to right,rgb(46, 45, 45),white,rgb(70, 65, 65))
}

.resume{
	width: 800px;
	background: #fff;
	margin: 25px auto;
	display: flex;
}

.left{
	background:black;
	width: 250px;
	padding: 0 20px;
}

.right{
	width: calc(100% - 250px);
}

.left .img_holder{
	text-align: center;
	padding: 20px 0;
}

.left .img_holder img{
	width: 200px;
	border-radius: 30px;
}

.pb{
	padding-bottom: 20px;
}

.title{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
    text-shadow:1px 1px 1px rgb(203, 201, 206);
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: #2a2ef0;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}

.title:before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 50px;
	height: 3px;
	background: #322881;
}

.left .icon{
	font-size: 50px;
	color: #290b44;

}



.left .text{
	color: #220e92;
	font-size: 17px;
}


.contact .li_wrap{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
	
}

.contact .li_wrap .icon{
	width: 40px;
	height: 40px;
	background: #fff; 
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

.contact .li_wrap .text{
	width: calc(100% - 30px);
	word-break: break-word;
	color: rgb(224, 224, 238);
	
	
}

.skills ul,
.hobbies ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skills .li_wrap,
.hobbies .li_wrap{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills .li_wrap{
	background: linear-gradient(to bottom, #252525, #0c0800,#79eb6a, #07e1f5);
}
.skills .li_wrap:hover{
	
	background: white;
}
.skills .li_wrap:hover .icon,
.skills .li_wrap:hover .text{
	color: #080808;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text{
	margin-top: 5px;
}

.hobbies .li_wrap{
	border: 2px solid #fff;
	background:linear-gradient(to bottom, #252525, #0c0800,#79eb6a, #07e1f5);

}

.hobbies .li_wrap .icon{
	color: white;}
.hobbies .li_wrap .text{
    color:#1707a7;
	font-weight:bold;
}

.hobbies .li_wrap:hover{
	background: white;
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text{
	color: rgb(1, 1, 12);
}

.header{
	background:black;
	padding: 15px 30px;
	color: #fff;
	height: 240px;
}

.header .name{
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700;
	color: #eeeff5;
}

.header .role{
	font-weight: 300;
	font-size: 20px;
}
.header .role .text .typing{
	color:rgb(206, 12, 12); 
	font-weight:bold;
	font-size: 25px;
	text-shadow:1px 1px 1px rgba(228, 127, 12, 0.11);
	
}

.header .about{
	margin-top: 20px;
	line-height: 26px;
}

.right_inner{
	padding: 30px;
	color: #292b2f;
}

.right_inner .education{
	margin-top: 30px;
}

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
    width: 125px;
    color: #0b070e;
	font-weight:bold;
}

.right_inner .li_wrap .info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}

.right_inner .li_wrap .info_title{
    /* subtitles */
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #111110;
}

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
}

.right_inner .li_wrap .info_cont{
	margin-top: 15px;
}

.right_inner .li_wrap .info:before{
	/* bullets */
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background:#000808;
	border-radius: 50%;
}

.right_inner .li_wrap .info:after{
	/* lines */
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background: linear-gradient(to bottom, #383737, #0c0800,#79eb6a, #07e1f5);
} 
.cerficate_img img{
	width: 220px;
	height:200px;
	transition:transform .2s;
	border: 2px solid;
	
}
.cerficate_img :hover img{
	transform:scale(1.5);
	box-shadow:10px 10px 10px rgb(12, 11, 11) ;
}


.container{
  position: relative;
  width: 400px;
  background: rgb(13, 13, 14);
  padding: 2px 4px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left:25px;
  margin-top: 5%;
  margin-right: 5px;
  
}
.container .post{
  display: none;
}
.container .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 10px #952;
}
#rate-1:checked ~ form header:before{
  content: "I just hate it ";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it ";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome ";
}
#rate-4:checked ~ form header:before{
  content: "I just like it ";
}
#rate-5:checked ~ form header:before{
  content: "I just love it ";
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 10px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  height: 30px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
}

